* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    display: flex;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
    background-image: 
        linear-gradient(
           lightblue, slategray);

}

h1 {
    font-family: fantasy;
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 10px;
    border-radius:10px 10px 10px 10px;
    box-shadow: black;


}

.header image {
    border-radius: 10px;
    background-image: url(Assets/Images/37C21A8E-7785-4F3A-90DF-20304476C6DB_1_105_c.jpeg);
    
}


nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 15px;
    margin-top: auto;

}

ul {
    display:inline-flex;
    list-style: none;
}

li a:hover {
    background-color: rgb(0, 229, 255);
    border-radius: 15px;
}


li a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
    justify-content: baseline;
}

header.beach {
    background-image: url(Assets/Images/ameen-fahmy-3V8gdLbwDOI-unsplash.jpg);
    background-color: lightseagreen; 
    
}

main {
    display: flex;
    flex-wrap: wrap;

}

aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: end;

    

}

article {
    width: 80%;
    display: flex;
    flex-direction: column;
}


h2 {
    border-right: 5px solid rgb(108 108 129);
    color: rgb(108 108 129);
    margin: 50px 50px;
    padding-right: 20px;
    
  
}

p {
    flex: 3;
    padding: 20px;
}

ul.contact {
    display: flex
 
}

li {
    flex: 3;
    
}


/* Use a media query to add a breakpointat 800px or smaller */

    
