* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    display: flex;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
    background-image: 
        linear-gradient(
           lightblue, slategray);

}

h1 {
    font-family: fantasy;
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 10px;
    border-radius:10px 10px 10px 10px;

}

.header image {
    border-radius: 10px;
    background-image: url(Assets/Images/37C21A8E-7785-4F3A-90DF-20304476C6DB_1_105_c.jpeg);
    
}

.profile {
    position: absolute;
    margin: 25px;
}

nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 15px;
    margin-top: auto;

}

ul {
    display:inline-flex;
    list-style: none;
}

li a:hover {
    background-color: rgb(0, 229, 255);
    border-radius: 15px;
}


li a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}

header.wood {
    background-image: url(Assets/Images/old-faded-dull-pine-natural-dark-wooden-background.jpg);
    background-color: lightseagreen; 
    
}

#subtitle  {
    position: relative
    ;
}

main {
    display: flex;
    flex-wrap: wrap;

}


.flex-parent {
    display: flex;
    flex-wrap: wrap;

}

h3 {
    font-size: 2rem;
    border-right: 5px solid rgb(108 108 129);
    color: rgb(108 108 129);
    margin: 50px 50px;
    padding-right: 20px;
    
}

h4 {
    display: flex;
    position: relative;
    background-color: aqua;

}


.image1 {
    border: 5px solid lightblue;
    flex: 1 0 80%;
    background-color: black;
}

.images {
    border: 5px solid lightblue;
    flex: 1 0 80%;
    background-color: black;
}

p {
    flex: 3;
    padding: 20px;
}



/*#image2 {
    border: 5px solid lightblue;
    flex: 1 0 80%;
    background-color: black;
}

/*#image3 {
    border: 5px solid lightblue;
    flex: 1 0 80%;
    background-color: black;
}

/*#image4 {
    border: 5px solid lightblue;
    flex: 1 0 80%;
    background-color: black;
}


    
